@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body{
  background-color: #fff;
  font-family: 'Short Stack', cursive;
  color: #0000;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

section{
  background-color: #fff;
  color: #0000;
  font-family: 'Short Stack', cursive;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
}